body {
    margin: 0;
    font-family: "doge", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "doge";
    font-display: swap;
    src: url("./fonts/DogeSansVF.ttf");
}

@keyframes flop {
    from {
        font-variation-settings: "FLOP" 0;
    }
    to {
        font-variation-settings: "FLOP" 100;
    }
}
